* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
    background-color: rgb(192, 206, 246);
    font-family: 'Lexend', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.content {
    width: 350px;
    border: 2px solid #faf4f4;
    background-color: rgb(241, 243, 243);
    border-radius: 10px;
    padding: 40px 40px;
    box-shadow: 1px 1px 1px rgba(236, 229, 229, 0.6);
}
.box1 {
    text-align: center;
    padding: 0 0 40px 0;
    font-size: 20px;
}
.box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
#unit,
.take_val {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(126, 125, 125);
}
.value_container {
    margin: 10px 0;
    margin-top: 20px;
}
.value {
    width: 100%;
    height: 30px;
    margin: 8px 0;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(126, 125, 125);
}
.btn {
    width: 100%;
    height: auto;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(102, 135, 235);
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 0;
}